@using System.Security.Claims
@model IEnumerable<ProjectListViewModel>


<div class="mb-2">
    <a asp-controller="Project"
       asp-action="Create"
       class="btn btn-primary">
        Skapa projekt
    </a>
</div>


<div class="row">
    @foreach (var project in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5>@project.Title</h5>
                    <p>@project.Description</p>


                    @if (project.IsOwner)
                    {
                        <a asp-action="Edit"
                           asp-route-id="@project.ProjectId"
                           class="btn btn-sm btn-outline-secondary">
                            Ändra
                        </a>
                    }
                    
                    
                    
                     <p class="text-muted">
                        Medlemmar: @project.MemberCount
                    </p>

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (!project.IsCurrentUserMember)
                        {
                            <form asp-action="Join" method="post" class="d-inline">
                                <input type="hidden" name="projectId" value="@project.ProjectId" />
                                <button class="btn btn-success btn-sm">
                                    Gå med i projekt
                                </button>
                            </form>
                        }
                        else
                        {
                            <form asp-action="Leave" method="post" class="d-inline">
                                <input type="hidden" name="projectId" value="@project.ProjectId" />
                                <button class="btn btn-outline-danger btn-sm">
                                    Lämna projekt
                                </button>
                            </form>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>